@import url('https://fonts.googleapis.com/css2?family=Potta+One&family=Roboto:wght@700&display=swap');

body{
    background: url(https://i.pinimg.com/originals/01/5a/17/015a1757e67f766a12621af543b3a5fd.jpg);
}

#container{
    height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    color: azure;
    text-align: center;
    font-size: 3rem;
    font-family: 'Potta One', cursive;
}

.computer{
    height: 100px;
    width: 250px;
    background-color: rgb(199, 199, 199);
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    border: 5px solid red;
    font-size: 4em;
    font-family: 'Potta One', cursive;
}

.versus{
    font-size: 10rem;
    color: red;
    font-family: 'Potta One', cursive;
}

.player>button{
    height: 175px;
    width: 175px;
    border-radius: 50%;
    background-color: blue;
    border: none;
}


img{
    height: 175px;
    width: 175px;
}

.player{
    display: flex;
    gap: 50px;
}


#rock,#paper,#scissor{
    display: flex;
    justify-content: center;
    align-items: center;
}

.startButton{
    margin-top: 50px;
    height: 100px;
    width: 200px;
    border-radius: 12px;
    border: none;
    font-size: 3rem;
    font-family: 'Potta One', cursive;
}
